.listServices_body{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    
}

.listServices_container{
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
   padding: 3rem;
   width: 65vw;
}