.fieldShop_body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.fieldShop_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}