section.menage_body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
}

.nav {
  margin-top: 5rem;

  ul {
    gap: 30px;
  }

  li {
    padding: 1.5rem 1rem 1rem 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 280px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 10px #EAEBEC;
    border: 1px solid #d5ddeca6;
  }
}

.card_manege{
  transition: .6s ease;
  a{
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end; 
    
        h1{
          font-size: 26px;
          width: 100%;
        }
  }
  
}

.card_manege:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px #EAEBEC;
}