section.menage_body {
    height: 100dvh;
    display: flex;
}

.nav{
    height: 100%;
    width: 95px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 0.5rem;
        i{
            font-size: 26px;
            color: white;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 46px;

        }
        li{
            padding: 1.5rem 1rem;
            border-radius: 15px;
            transition: .2s ease;
            cursor: pointer;
        }
        li:hover{
            background-color: #2f3f58;
        }
}
.field_menage{
    display: flex;
    gap: 16px;
}

