
.card_body {
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 10px #EAEBEC;

        img{
            width: 75px;
            height: 75px;
            border-radius: 20px;
            object-fit: cover;

     
        }

        .text_container{
            padding: .3rem 1rem;
            font-size: 14px;
            height: 100%;
            width: 70%;
            display: flex;
            justify-content: start;
        }

        .btn_container{
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: end;
            align-items: end;

                button{
                    color: white;
                    padding: 8px 10px;
                    font-size: 12px;
                    border-radius: 10px;
                    background-color: var(--black)
                }
        }
  
}
