.day_container{
    display: flex; 
   text-align: center;
    background-color: white;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px #EAEBEC;
    border: 1px solid #d5ddeca6;
    transition: .6s ease;
        p{
            font-size: 18px;
        }
        .day_Word{
            font-size: 12px;
            color: var(--laranja);
        }
}
